.headerSection {
    background-color: #f0efe9;
    padding: 16px;


  }
  .headerSection .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }
  .headerSection .container .menu-bars {
    border: none;
    font-size: 23px;
    background-color: transparent;
  }
  @media (min-width: 1200px) {
    .headerSection .container .menu-bars {
      display: none;
    }
  }
  .headerSection .container .menu {
    display: none;
    flex: 1;
  }
  @media (min-width: 1200px) {
    .headerSection .container .menu {
      display: block;
    }
  }
  .headerSection .container .top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dad9d3;
    padding-bottom: 10px;
  }
  .headerSection .container .top-menu .contact-info {
    display: flex;
    align-items: center;
  }
  .headerSection .container .top-menu .contact-info .info-box {
    padding-right: 30px;
    margin-right: 40px;
    border-right: 1px solid #dad9d3;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 300;
  }
  .headerSection .container .top-menu .contact-info .info-box i {
    margin-right: 5px;
    font-size: 19px;
    color: #423d3d;
  }
  .headerSection .container .top-menu .contact-info .info-box.last {
    border: none;
  }
  .headerSection .container .top-menu .sociala-medier a {
    color: #191919;
    font-size: 20px;
    margin-left: 12px;
  }
  .headerSection .container .top-menu .sociala-medier a:hover {
    color: #423d3d;
  }
  .headerSection .container .under-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }
  .headerSection .container .under-menu nav a {
    display: inline-block;
    color: #191919;
    text-decoration: none;
    margin-right: 40px;
    position: relative;
  }
  .headerSection .container .under-menu nav a.activ::after, .headerSection .container .under-menu nav a:hover::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 15px;
    background-color: #191919;
    left: 50%;
    bottom: -3px;
  }
  