.last-section {
    background-color: #0e1021;
    color: #f0efe9;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    z-index: 0;
  }
  .last-section .line {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
  .last-section .container {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    gap: 80px;
  }
  .last-section .container h3 {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    padding-bottom: 30px;
    padding-top: 7px;
  }